.page {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: 500px auto;
}

.imgHeader {
  grid-area: 1 / 1 / 2 / 2;
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
  grid-template-rows: repeat(2, minmax(0, 1fr));
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.imgHeader img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  min-height: 0;
}

.portrait {
  grid-area: 1 / 1 / 3 / 2;
}

.imgHeader img:nth-child(2) {
  grid-area: 1 / 2 / 2 / 3;
}

.imgHeader img:nth-child(3) {
  grid-area: 2 / 2 / 3 / 3;
  object-position: 50% 75%;
}

.spotlightContainer {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  justify-content: center;
  width: clamp(360px, 100%, 1000px);
  padding: clamp(10px, 4vw, 1.5em);
  gap: clamp(10px, 2vw, 1em);
}

@media screen and (max-width: 480px) {
  .page {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: 250px auto;
  }

  .spotlightContainer {
    padding: 1.25em;
  }
}
