.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
  z-index: 1000;
}

.quickView {
  position: relative;
  display: grid;
  grid-template-columns: 3fr 4fr;
  gap: clamp(0.5em, 3vw, 1em);
  background-color: var(--clr-bg);
  border-radius: 20px;
  max-width: min(800px, 90vw);
  max-height: 75vh;
  overflow-y: auto;
  padding: 1.5em;
}

.closeBtn {
  position: absolute;
  top: 7px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  font-weight: 400;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  z-index: 2;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: clamp(0.5em, 3vw, 1em);
}

.addItem {
  display: flex;
  align-self: flex-start;
  align-items: center;
  width: fit-content;
}

.quantity {
  align-self: flex-start;
  min-height: 36px;
}

.basketBtn {
  height: fit-content;
  width: fit-content;
  font-size: 16px;
  font-weight: 600;
  color: var(--clr-bg);
  background-color: var(--clr-accent-orange);
  padding: 0.5em 1em;
  border-radius: 999px;
}

.productInfo,
.productDetails {
  display: grid;
  grid-template-rows: repeat(3, auto);
  gap: 0.25em;
}

.productInfo {
  gap: 0.5em;
}

.productInfo h2 {
  text-align: left;
  padding: 0;
}

.productDetails {
  display: flex;
  flex-direction: column;
  gap: clamp(0.75em, 4vw, 1em);
}

.features,
.description,
.materials {
  display: flex;
  flex-direction: column;
  gap: clamp(0.25em, 2vw, 0.5em);
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 12px 12px;
  padding-left: 20px;
  line-height: 1.5;
}

.features li {
  background-image: url("/src/assets/yellow-flower-head.webp");
}

.materials li {
  background-image: url("/src/assets/ball.webp");
}

@media screen and (max-width: 480px) {
  .quickView {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    padding: 0;
  }

  .productDetails h3 {
    padding: 0;
  }

  .addItem {
    min-height: 0;
  }
}
