.carouselContainer {
  position: relative;
  overflow: hidden;
  min-width: 0;
  width: 100%;
  align-self: start;
}

.carouselTrack {
  display: flex;
  align-items: start;
  transition: transform 0.5s ease-in-out;
}

.carouselTrack img {
  flex: 0 0 100%;
  width: 100%;
  height: auto;
  aspect-ratio: 2 / 3;
  max-height: 470px;
  object-fit: contain;
  scroll-snap-align: center;
}

.carouselBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 40px;
  width: 40px;
  color: var(--clr-text);
  border: none;
  padding: 5px;
  cursor: pointer;
  font-size: 24px;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.carouselBtn:hover {
  background-color: var(--clr-hover);
}

.carouselBtn:nth-of-type(1) {
  left: 0;
}
.carouselBtn:nth-of-type(2) {
  right: 0;
}

.dotsContainer {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
  z-index: 2;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--clr-hover);
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.dot.active {
  background-color: color-mix(in srgb, var(--clr-text), transparent 30%);
}

@media screen and (max-width: 700px) {
  .carouselTrack {
    padding-bottom: 2em;
  }
}

@media screen and (max-width: 480px) {
  .carouselTrack img {
    object-fit: cover;
  }
}
