nav {
  display: flex;
  margin: 1em;
}

.buttonsContainer {
  display: flex;
  gap: 0.5em;
}

.shopBtn,
.homeBtn,
.cartBtn {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  width: 110px;
  padding: 0.2em;
}

button > img {
  border-radius: 0;
}

.shopBtn {
  transform: translateX(8px);
  transition: transform 0.3s ease;
}

.shopBtn > img {
  transform: rotateZ(45deg);
}

.homeBtn > img {
  margin-right: 0.5em;
}

.shopBtn > span {
  transform: translateX(-5px);
}

.cartBtn > span {
  transform: translateX(-10px);
}
