nav {
  display: flex;
  margin: 1em;
}

.buttonsContainer {
  display: flex;
  gap: 0.5em;
}

.shopBtn,
.homeBtn {
  display: grid;
  grid-template-columns: minmax(0, 1fr) auto;
}

.cartBtn {
  position: relative;
  display: grid;
  grid-template-columns: minmax(0, 1fr) auto auto;
}

.shopBtn,
.homeBtn,
.cartBtn {
  align-items: center;
  width: 110px;
  padding: 0.2em;
}

button > img {
  width: 1.25em;
  max-width: 1.25em;
  height: 1.25em;
  max-height: 1.25em;
  border-radius: 0;
}

.shopBtn {
  transform: translateX(8px);
  transition: transform 0.3s ease;
}

.shopBtn img {
  transform: rotateZ(45deg);
}

.homeBtn span {
  transform: translateX(5px);
}

.shopBtn span {
  transform: translateX(-5px);
}

.cartBtn span:not(.cartCounter) {
  transform: translateX(-5px);
}

.cartCounter {
  position: absolute;
  top: 0;
  left: 0;
  translate: 45px 50%;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: var(--clr-bg);
  background-color: var(--clr-accent-green);
  min-width: 1.75em;
  height: 1.75em;
  padding: 0 0.5em;
  border-radius: 999px;
}

.disabled {
  visibility: hidden;
}
