.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: clamp(10px, 1vw, 30px);
  width: 100%;
  background-color: var(--clr-accent-yellow);
  padding: clamp(10px, 5vw, 2em);
}

.miffy {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.miffy h1 {
  max-width: fit-content;
  text-align: center;
}

.heroImg {
  height: clamp(100px, 20vh, 300px);
  width: auto;
}

@media screen and (max-width: 480px) {
  .header {
    display: flex;
    flex-direction: column;
    height: 40%;
  }

  .heroImg {
    max-height: 100px;
  }
}
