.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: clamp(10px, 1vw, 30px);
  width: 100%;
  max-height: 270px;
  background-color: var(--clr-accent-yellow);
  padding: clamp(10px, 5vw, 2em);
}

.miffy {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.miffy h1 {
  width: 100%;
  text-align: center;
}

.heroImg {
  max-width: 100%;
  max-height: calc(270px - 2 * clamp(10px, 5vw, 2em));
  height: auto;
  object-fit: contain;
  padding: 0;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 100%;
  background-color: var(--clr-accent-blue);
  padding: clamp(10px, 5vw, 2em);
  color: var(--clr-bg);
  font-weight: 400;
  margin-top: 1em;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.footer a,
.footer a > * {
  height: 30px;
  width: auto;
  text-transform: none;
}

@media screen and (max-width: 480px) {
  .header {
    display: flex;
    flex-direction: column;
    height: 40%;
  }

  .heroImg {
    max-height: 100px;
  }
}

@media (480px <= width <= 1000px) {
  .heroImg {
    height: 150px;
  }
}
