.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: clamp(10px, 1vw, 30px);
  min-height: 30%;
  background-color: var(--clr-accent-yellow);
}

.volta {
  font-family: var(--ff-heading);
}

img {
  margin: 1em;
}