:root {
  --clr-text: rgb(32, 34, 33);
  --clr-bg: rgb(247, 247, 247);
  --clr-border: rgb(32, 34, 33);
  --clr-accent-orange: rgb(242, 101, 34);
  --clr-accent-yellow: rgb(255, 200, 11);
  --clr-accent-green: rgb(0, 113, 42);
  --clr-accent-blue: rgb(0, 85, 153);

  --box-shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --ff-sans: "Quicksand", Roboto, sans-serif;
  --ff-heading: "Volta W01 Bold V1", "Rockwell", "Courier New", serif;

  --fs-body: 16px;
  --fs-heading: clamp(30px, 6vw, 60px);
  --fs-button: 20px;

  font-family: var(--ff-sans);
  font-size: var(--fs-body);
  color: var(--clr-text);
  background: var(--clr-bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
#root,
body {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar,
#root::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*:not(dialog) {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

h1 {
  font-size: var(--fs-heading);
}

button,
a {
  color: inherit;
  background-color: transparent;
  border: none;
  text-transform: lowercase;
  text-decoration: none;
  font-size: var(--fs-button);
  font-weight: 700;
  cursor: pointer;
}

.volta {
  font-family: var(--ff-heading);
}
